*{
    margin: 0;
    padding: 0;
}
body{
    padding: 2rem;
}
header img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10rem;
}
nav ul{
    list-style: none;
    text-align: center;
    
}
nav li{
    display: inline-block;
    margin: 10px;
}
section img{
    width: 5rem;
}
footer img{
    width: 20rem;
}
main{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-areas:
                        "promotion promotion promotion"
                        "part1 part2 part3"
    ;
}
footer{
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding: 1rem 0rem;
    
}
.promotion{
    grid-area: promotion;
}
.part1{
    grid-area: part1;
}
.part2{
    grid-area: part2;
}
.part3{
    grid-area: part3;
}