*{
    margin: 0;
    padding: 0;
}
header img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 5rem;
}
nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    
}
